<%= form_for(bb, remote: true) do |f| %>
  <% if bb.errors.any? %>
  <div class="panel panel-danger">
    <div class="panel-heading"><%= bb.errors.count %>個のエラーがあります</div>

    <ul class="list-group">
      <% bb.errors.full_messages.each do |message| %>
      <li class="list-group-item"><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, maxlength: 14, class: "form-control", placeholder: :name %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, maxlength: 200, class: "form-control form-body", placeholder: :body, rows: "7" %>
  </div>

  <div class="actions">
    <%= f.submit "投稿", class: "btn btn-default btn-block" %>
  </div>
<% end %>
