<%= form_for(bb) do |f| %>
  <% if bb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bb.errors.count, "error") %> prohibited this bb from being saved:</h2>

      <ul>
      <% bb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "投稿", class: "btn btn-primary" %>
  </div>
<% end %>
