<%= form_for(bb) do |f| %>
  <% if bb.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading"><%= bb.errors.count %>個のエラーがあります</div>

      <ul class="list-group">
      <% bb.errors.full_messages.each do |message| %>
        <li class="list-group-item"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, maxlength: 14, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body, class: "control-label" %>
    <%= f.text_area :body, maxlength: 200, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "投稿", class: "btn btn-primary" %>
  </div>
<% end %>
