<!DOCTYPE html>
<html>
  <head>
    <title>掲示板 -<%= request.host %>-</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrap">
      <div class="jumbotron text-center">
        <div class="container">
          <h1>掲示板</h1>
          <p>シンプルな掲示板システムです</p>
          <%= link_to new_bb_path, class: 'btn btn-default btn-post' do %>
            投稿する <span class="glyphicon glyphicon-pencil"></span>
          <% end %>

          <% if false %>
          <button type="button" class="btn btn-default btn-post" data-toggle="modal" data-target="#post">
            投稿する <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <div class="modal fade" id="post">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">投稿</h4>
                </div>
                <div class="modal-body">
                  <%= render 'form', bb: @bb %>
                </div>
              </div>
            </div>
          </div>
          <% end %>

        </div>
      </div>
      <div class="container">
        <% if flash[:notice].present? %>
          <div class="alert alert-info" id="alert-fadeout" role="alert">
            <%= notice %>
          </div>
        <% end %>

        <% if flash[:alert].present? %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= alert %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
